img {
  max-width: 50%;
}

li {
list-style: none;
}

main {
  max-width: 80%;
  margin-left:10%;
}

header {
  min-width: 290px;
  float:left;
}

body {
background-color: #ACD9E2;
}

nav {
  max-width: 100%;
}

a {
  text-decoration: none;
}
