img {
  max-width: 60%;
  display:inline;
  margin-left:3%;
}

li {
  list-style: none;
}

main {
  max-width: 100%;
}

header {
  min-width: 290px;
  width:100%;
  float:left;
}

body {
  background-color:white;
}

nav {
  width: 100%;
}

a {
  text-decoration: none;
}

article {
  background-color: #F7F7F7;
  border-radius: 5px;
  margin-bottom: 10px;
  -webkit-box-shadow: -2px 4px 9px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px 4px 9px -4px rgba(0,0,0,0.75);
  box-shadow: -2px 4px 9px -4px rgba(0,0,0,0.75);
}
