
.notHome {
  display:none;
}

.hamburger {
    display:inline-block;
    max-width:90px;
    float:right;
  }

.menu {
  padding: .1%;
  border-bottom:none;
}

.menu ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}

.menu:hover ul {
  display: block;
}

.menu li {
  display:block;
  text-align:center;
  margin-right: 5%;
  font-size: 1.5em;
  padding: 1%;
}

#filters select {
  width: 90%;
  margin: 1%;
}

@media only screen and (min-width:640px){

  .hamburger {
    display:none;
  }

  nav ul:hover {
    display:block;
  }

  nav {
    border-bottom: solid black 1px;
    border-top: solid black 2px;
    max-width: 100%;
  }

  .menu ul {
    display:block;
  }
  .menu li {
    display: inline;
    padding-left:10%;
    border-bottom:none;
  }

  header h1 {
    text-align: center;
    padding-left: 40%;
  }

  header {
    float:none;

  }
  #filters select {
  width: 25%;
  margin: 1% 1%;
  margin-left:15%;
  }

  #filters li {
  width: 20%;
  display: inline;
  }
}
